<!-- CARD UI TEMPLATE -->
	<div class="col-xxl-6 col-lg-6">
		<div class="card h-100">
			<div class="card-header bg-body-tertiary py-1 d-flex flex-between-center">
				<h6 class="mb-0">men's college football</h6>
				<div class="dropdown font-sans-serif btn-reveal-trigger">
					<button class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal" type="button" id="dropdown-league-options" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false">
						<span class="fas fa-ellipsis-h fs-11">o</span>
					</button>
					<div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-league-options">
						<a class="dropdown-item" href="#!">View</a>
						<a class="dropdown-item" href="#!">Edit</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item text-danger" href="#!">Delete</a>
					</div>
        </div>
			</div>
			<div class="card-body py-0">
				<div class="row gx-3">
					<div class="col">
						<h5 class="text-primary fw-normal"><a href="#">NCAA Football Bowl Subdivision</a></h5>
						<div class="row g-3">
							<div class="col-4"><span class="fs-11 text-500 fw-semi-bold mb-0">Teams: 315</p></div>
							<div class="col-4"><span class="fs-11 text-500 fw-semi-bold mb-0">Conferences: 32</span></div>
							<div class="col-4"><span class="fs-11 text-500 fw-semi-bold mb-0">Divisions: 32</span></div>
						</div>
					</div>
					<div class="col-auto text-end">
						stuff
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END CARD UI TEMPLATE -->