@import './tuln-tulane-green-wave';
@import './tul-tulsa-golden-hurricane';
@import './uab-alabama-birmingham-blazers';
@import './ecu-east-carolina-pirates';
@import './fau-florida-atlantic-owls';
@import './vir-virginia-cavaliers';
@import './mem-memphis-tigers';
@import './army-army-black-knights';
@import './navy-navy-midshipmen';
@import './cha-charlotte-49ers';
@import './unt-north-texas-mean-green';
@import './rice-rice-owls';
@import './usf-south-florida-bulls';
@import './tem-temple-owls';
@import './utsa-texas-san-antonio-roadrunners';