<div class="col-md-6 col-xxl-<%= size %>">
	<div class="card">
		<div class="card-header py-2 mb-0">
			<h6><%= title %></h6>
		</div>
		<div class="card-body pt-0">

			<div class="m-0 py-2">
				<a class="fw-bold fs-11 ps-0 h5" href="#">
					Tony the Tiger Sun Bowl
					<span class="fas fa-chevron-right ms-1" data-fa-transform="shrink-4 down-1"></span>
				</a>

				<span class="fw-bold text-800 fs-11 pe-0 float-end">
					12/31/2024 | 11:30 PST
				</span>
			</div>

			<table class="m-0 border" style="width: 100%;">
				<tr class="border-bottom">
					<td class="p-1 h6 lou-louisville-cardinals">Louisville</td>
					<td class="p-1 border-end" style="width: 5%; text-align: center;"><span class="fs-10">14</span></td>
					<td class="p-1 border-end" style="width: 5%; text-align: center;"><span class="fs-10">7</span></td>
					<td class="p-1 border-end" style="width: 5%; text-align: center;"><span class="fs-10">14</span></td>
					<td class="p-1" style="width: 5%; text-align: center;"><span class="fs-10">0</span></td>
					<td class="p-1 bg-300" style="width: 5%; text-align: right;"><span class="fs-10 fw-bolder">35</span></td>
				</tr>
				<tr>
					<td class="p-1 h6 uw-washington-huskies">Washington</td>
					<td class="p-1 border-end" style="width: 5%; text-align: center;"><span class="fs-10">7</span></td>
					<td class="p-1 border-end" style="width: 5%; text-align: center;"><span class="fs-10">14</span></td>
					<td class="p-1 border-end" style="width: 5; text-align: center;%"><span class="fs-10">0</span></td>
					<td class="p-1" style="width: 5%; text-align: center;"><span class="fs-10">13</span></td>
					<td class="p-1 bg-300" style="width: 5%; text-align: right;"><span class="fs-10 fw-bolder">34</span></td>
				</tr>
			</table>
			<div class="m-0 py-1">
				<span class="fw-bold text-800 fs-11 pe-0 float-end">
					TV: ESPN
				</span>
			</div>
		</div>
	</div>
</div>
