<table class="game-grid">
	<tbody>
		<tr>
			<th></th><th></th>
			<th id="home-team-header" colspan="10" class="home-team-display h1 py-3 border border-400">Home Team</th>
		<tr>
		<tr>
			<th></th><th></th>
			<th id="h0" class="hnum hn0 py-3 fw-bold bg-200 border border-400">0</th>
			<th id="h1" class="hnum hn1 py-3 fw-bold bg-200 border border-400">1</th>
			<th id="h2" class="hnum hn2 py-3 fw-bold bg-200 border border-400">2</th>
			<th id="h3" class="hnum hn3 py-3 fw-bold bg-200 border border-400">3</th>
			<th id="h4" class="hnum hn4 py-3 fw-bold bg-200 border border-400">4</th>
			<th id="h5" class="hnum hn5 py-3 fw-bold bg-200 border border-400">5</th>
			<th id="h6" class="hnum hn6 py-3 fw-bold bg-200 border border-400">6</th>
			<th id="h7" class="hnum hn7 py-3 fw-bold bg-200 border border-400">7</th>
			<th id="h8" class="hnum hn8 py-3 fw-bold bg-200 border border-400">8</th>
			<th id="h9" class="hnum hn9 py-3 fw-bold bg-200 border border-400">9</th>
		</tr>
		<tr class="game-row">
			<th id="away-team-header" rowspan="10" class="away-team-display h2 px-4 border border-400">Away Team</th>
			<th id="a0"   class="anum a0 py-3 px-5 fw-bold bg-200 border border-400">0</th>
			<td id="a0h0" class="game-cell border fs-11">a0h0</td>
			<td id="a0h1" class="game-cell border fs-11">a0h1</td>
			<td id="a0h2" class="game-cell border fs-11">a0h2</td>
			<td id="a0h3" class="game-cell border fs-11">a0h3</td>
			<td id="a0h4" class="game-cell border fs-11">a0h4</td>
			<td id="a0h5" class="game-cell border fs-11">a0h5</td>
			<td id="a0h6" class="game-cell border fs-11">a0h6</td>
			<td id="a0h7" class="game-cell border fs-11">a0h7</td>
			<td id="a0h8" class="game-cell border fs-11">a0h8</td>
			<td id="a0h9" class="game-cell border fs-11">a0h9</td>
		</tr>
		<tr>
			<th id="a1" class="anum an1 py-3 fw-bold bg-200 border border-400">1</th>
			<td id="a1h0" class="game-cell border fs-11">a1h0</td>
			<td id="a1h1" class="game-cell border fs-11">a1h1</td>
			<td id="a1h2" class="game-cell border fs-11">a1h2</td>
			<td id="a1h3" class="game-cell border fs-11">a1h3</td>
			<td id="a1h4" class="game-cell border fs-11">a1h4</td>
			<td id="a1h5" class="game-cell border fs-11">a1h5</td>
			<td id="a1h6" class="game-cell border fs-11">a1h6</td>
			<td id="a1h7" class="game-cell border fs-11">a1h7</td>
			<td id="a1h8" class="game-cell border fs-11">a1h8</td>
			<td id="a1h9" class="game-cell border fs-11">a1h9</td>
		</tr>
		<tr>
			<th id="a2" class="anum an2 py-3 fw-bold bg-200 border border-400">2</th>
			<td id="a2h0" class="game-cell border fs-11">a2h0</td>
			<td id="a2h1" class="game-cell border fs-11">a2h1</td>
			<td id="a2h2" class="game-cell border fs-11">a2h2</td>
			<td id="a2h3" class="game-cell border fs-11">a2h3</td>
			<td id="a2h4" class="game-cell border fs-11">a2h4</td>
			<td id="a2h5" class="game-cell border fs-11">a2h5</td>
			<td id="a2h6" class="game-cell border fs-11">a2h6</td>
			<td id="a2h7" class="game-cell border fs-11">a2h7</td>
			<td id="a2h8" class="game-cell border fs-11">a2h8</td>
			<td id="a2h9" class="game-cell border fs-11">a2h9</td>
		</tr>
		<tr>
			<th id="a3" class="anum an3 py-3 fw-bold bg-200 border border-400">3</th>
			<td id="a3h0" class="game-cell border fs-11">a3h0</td>
			<td id="a3h1" class="game-cell border fs-11">a3h1</td>
			<td id="a3h2" class="game-cell border fs-11">a3h2</td>
			<td id="a3h3" class="game-cell border fs-11">a3h3</td>
			<td id="a3h4" class="game-cell border fs-11">a3h4</td>
			<td id="a3h5" class="game-cell border fs-11">a3h5</td>
			<td id="a3h6" class="game-cell border fs-11">a3h6</td>
			<td id="a3h7" class="game-cell border fs-11">a3h7</td>
			<td id="a3h8" class="game-cell border fs-11">a3h8</td>
			<td id="a3h9" class="game-cell border fs-11">a3h9</td>
		</tr>
		<tr>
			<th id="a4" class="anum an4 py-3 fw-bold bg-200 border border-400">4</th>
			<td id="a4h0" class="game-cell border fs-11">a4h0</td>
			<td id="a4h1" class="game-cell border fs-11">a4h1</td>
			<td id="a4h2" class="game-cell border fs-11">a4h2</td>
			<td id="a4h3" class="game-cell border fs-11">a4h3</td>
			<td id="a4h4" class="game-cell border fs-11">a4h4</td>
			<td id="a4h5" class="game-cell border fs-11">a4h5</td>
			<td id="a4h6" class="game-cell border fs-11">a4h6</td>
			<td id="a4h7" class="game-cell border fs-11">a4h7</td>
			<td id="a4h8" class="game-cell border fs-11">a4h8</td>
			<td id="a4h9" class="game-cell border fs-11">a4h9</td>
		<tr>
			<th id="a5" class="anum an5 py-3 fw-bold bg-200 border border-400">5</th>
			<td id="a5h0" class="game-cell border fs-11">a5h0</td>
			<td id="a5h1" class="game-cell border fs-11">a5h1</td>
			<td id="a5h2" class="game-cell border fs-11">a5h2</td>
			<td id="a5h3" class="game-cell border fs-11">a5h3</td>
			<td id="a5h4" class="game-cell border fs-11">a5h4</td>
			<td id="a5h5" class="game-cell border fs-11">a5h5</td>
			<td id="a5h6" class="game-cell border fs-11">a5h6</td>
			<td id="a5h7" class="game-cell border fs-11">a5h7</td>
			<td id="a5h8" class="game-cell border fs-11">a5h8</td>
			<td id="a5h9" class="game-cell border fs-11">a5h9</td>
		</tr>
		<tr>
			<th id="a6" class="anum an6 py-3 fw-bold bg-200 border border-400">6</th>
			<td id="a6h0" class="game-cell border fs-11">a6h0</td>
			<td id="a6h1" class="game-cell border fs-11">a6h1</td>
			<td id="a6h2" class="game-cell border fs-11">a6h2</td>
			<td id="a6h3" class="game-cell border fs-11">a6h3</td>
			<td id="a6h4" class="game-cell border fs-11">a6h4</td>
			<td id="a6h5" class="game-cell border fs-11">a6h5</td>
			<td id="a6h6" class="game-cell border fs-11">a6h6</td>
			<td id="a6h7" class="game-cell border fs-11">a6h7</td>
			<td id="a6h8" class="game-cell border fs-11">a6h8</td>
			<td id="a6h9" class="game-cell border fs-11">a6h9</td>
		</tr>
		<tr>
			<th id="a7" class="anum an7 py-3 fw-bold bg-200 border border-400">7</th>
			<td id="a7h0" class="game-cell border fs-11">a7h0</td>
			<td id="a7h1" class="game-cell border fs-11">a7h1</td>
			<td id="a7h2" class="game-cell border fs-11">a7h2</td>
			<td id="a7h3" class="game-cell border fs-11">a7h3</td>
			<td id="a7h4" class="game-cell border fs-11">a7h4</td>
			<td id="a7h5" class="game-cell border fs-11">a7h5</td>
			<td id="a7h6" class="game-cell border fs-11">a7h6</td>
			<td id="a7h7" class="game-cell border fs-11">a7h7</td>
			<td id="a7h8" class="game-cell border fs-11">a7h8</td>
			<td id="a7h9" class="game-cell border fs-11">a7h9</td>
		</tr>
		<tr>
			<th id="a8" class="anum an8 py-3 fw-bold bg-200 border border-400">8</th>
			<td id="a8h0" class="game-cell border fs-11">a8h0</td>
			<td id="a8h1" class="game-cell border fs-11">a8h1</td>
			<td id="a8h2" class="game-cell border fs-11">a8h2</td>
			<td id="a8h3" class="game-cell border fs-11">a8h3</td>
			<td id="a8h4" class="game-cell border fs-11">a8h4</td>
			<td id="a8h5" class="game-cell border fs-11">a8h5</td>
			<td id="a8h6" class="game-cell border fs-11">a8h6</td>
			<td id="a8h7" class="game-cell border fs-11">a8h7</td>
			<td id="a8h8" class="game-cell border fs-11">a8h8</td>
			<td id="a8h9" class="game-cell border fs-11">a8h9</td>
		</tr>
		<tr>
			<th id="a9" class="anum an9 py-3 fw-bold bg-200 border border-400">9</th>
			<td id="a9h0" class="game-cell border fs-11">a9h0</td>
			<td id="a9h1" class="game-cell border fs-11">a9h1</td>
			<td id="a9h2" class="game-cell border fs-11">a9h2</td>
			<td id="a9h3" class="game-cell border fs-11">a9h3</td>
			<td id="a9h4" class="game-cell border fs-11">a9h4</td>
			<td id="a9h5" class="game-cell border fs-11">a9h5</td>
			<td id="a9h6" class="game-cell border fs-11">a9h6</td>
			<td id="a9h7" class="game-cell border fs-11">a9h7</td>
			<td id="a9h8" class="game-cell border fs-11">a9h8</td>
			<td id="a9h9" class="game-cell border fs-11">a9h9</td>
		</tr>
	</tbody>
</table>
