<table class="scores-grid">
	<tbody>
		<tr class="scores-header">
			<th class="scores-team"></th>
			<th class="scores-period bg-200 py-1 fw-bold h6 fs-10">1</th>
			<th class="scores-period bg-200 py-1 fw-bold h6 fs-10">2</th>
			<th class="scores-period bg-200 py-1 fw-bold h6 fs-10">3</th>
			<th class="scores-period bg-200 py-1 fw-bold h6 fs-10">4/OT</th>
			<th class="scores-period bg-200 py-1 fw-bold h6 fs-10">F</th>
		</tr>

		<tr class="scores-row scores-away">
			<th class="p-1 h6 border-bottom border-400">Away Team</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td class="bg-200 py-1 px-3 fw-bold h6 fs-10">0</td>
		</tr>

		<tr class="scores-row scores-home">
			<th class="p-1 h6">Home Team</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td class="bg-200 py-1 px-3 fw-bold h6 fs-10">0</td>
		</tr>
	</tbody>
</table>
