<div class="row mb-3">
	<div class="col-4 text-center">
		<h6>Upcoming Games</h6>
	</div>
	<div class="col-4 text-center">
		<h6>Current Games</h6>
	</div>
	<div class="col-4 text-center">
		<h6>Completed Games</h6>
	</div>
</div>

<div class="row mb-3">
	<div class="col-12">
		<h6>Latest Post</h6>
	</div>
</div>

<div class="row mb-3">
	<div class="col-12">

		<div class="row mb-3">
			<div classs="col-12">
				<h6>Upcoming Games</h6>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-12">
				<h6>Completed Games</h6>
			</div>
		</div>

	</div>
</div>