<table class="winners-grid">
	<thead>
		<tr>
			<th class="winners-period"></th>
			<th class="winners-prize bg-200 py-1 fw-bold">Prize</th>
			<th class="winners-team winners-away py-1 h6">AWAY</th>
			<th class="winners-team winners-home py-1 h6">HOME</th>
			<th class="winners-winner bg-200 py-1 fw-bold">Winner</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="winners-period p-1">1st Period</th>
			<td class="winners-prize p-1">$0</d>
			<td class="winners-team winners-away p-1">0</td>
			<td class="winners-team winners-home p-1">0</td>
			<th class="winners-winner p-1">Winner</th>
		</tr>
		<tr>
			<th class="winners-period p-1">2nd Period</th>
			<td class="winners-prize p-1">$0</d>
			<td class="winners-team winners-away p-1">0</td>
			<td class="winners-team winners-home p-1">0</td>
			<th class="winners-winner p-1">Winner</th>
		</tr>
		<tr>
			<th class="winners-period p-1">3rd Period</th>
			<td class="winners-prize p-1">$0</d>
			<td class="winners-team winners-away p-1">0</td>
			<td class="winners-team winners-home p-1">0</td>
			<th class="winners-winner p-1">Winner</th>
		</tr>
		<tr>
			<th class="winners-period p-1">Final Score</th>
			<td class="winners-prize p-1">$0</d>
			<td class="winners-team winners-away p-1">0</td>
			<td class="winners-team winners-home p-1">0</td>
			<th class="winners-winner p-1">Winner</th>
		</tr>
	</tbody>
</table>
