<!-- upcoming game widget -->
<div class="row g-0 align-items-center py-2 border-bottom">
	<div class="col pe-2">
		<a class="fw-semi-bold fs-10 ps-0 pb-1 h6" href="#">
			<span class="mr-1 badge badge-subtle-primary">Prize</span>
			Game Title
			<span class="fas fa-chevron-right ms-1" data-fa-transform="shrink-4 down-1"></span>
		</a>

		<div class="d-flex mt-1">
			<table style="width: 100%;">
				<tr>
					<td class="h6 ps-1" style="width: 48%; text-align: left;">Away Team</td>
					<td class="h6 p-1 bg-200" style="width: 4%;">@</td>
					<td class="h6 pe-1" style="width: 48%; text-align: right;">Home Team</td>
				</tr>
			</table>
		</div>

	</div>
	<div class="col-auto text-end">
		<p class="mb-0 fs-10 text-900 font-sans-serif">
			Date
		</p>
		<p class="mb-0 fs-11 text-500 fw-semi-bold">
			<span class="text-600">Time</span>
			|
			<span class="text-600">TV</span>
		</p>
	</div>
</div>

