<div class="row mb-3">
	<div class="col-12">
		<div class="card bg-100 shadow-none border mb-0">
			<div class="card-body p-0">
				<div class="row gx-0 p-2 pb-0 mb-0 flex-between-center" id="header-top">
					<div class="col-auto">
						<div>
							<h6 class="fs-10 mb-0">
								<a href="#" class="text-muted" >
									<span class="fas fa-chevron-left" data-fa-transform="shrink-4 down-1"></span>
									Back to Wherever
								</a>
							</h6>
							<h4 class="text-primary fw-bold mb-0">
								Section:
								<span class="text-info fw-medium">Page / Title</span>
							</h4>
						</div>
					</div>
					<div class="col-auto">
						<a href="#" class="btn btn-outline-warning btn-sm">Button</a>
						<a href="#" class="btn btn-secondary btn-sm">Button</a>
						<a href="#" class="btn btn-primary btn-sm">Button</a>
					</div>
				</div>
				<div class="row gx-0 p-2 pt-0" id="header-info">
					<div class="col-3 text-start">left</div>
					<div class="col-6 text-center">center</div>
					<div class="col-3 text-end">right</div>
				</div>
				<% if false %>
					<div class="row gx-0 p-2 bg-700 text-200" id="header-toolbar">
						<div class="col-4 text-200 text-start"><!-- left admin controls --></div>
						<div class="col-4 text-200 text-center"><!-- center admin controls --></div>
						<div class="col-4 text-200 text-end"><!-- right admin controls --></div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>