<div class="card mb-3">
	<div class="card-header border-bottom p-1 text-start">
		<h6 class="m-0 text-muted">
			Game TBD
		</h6>
	</div>
	<div class="card-body p-0">
		<table class="m-0" style="width: 100%;">
			<tr class="border-bottom">
				<td class="p-1 h6 text-start text-muted">
					&mdash;
				</td>
				<td class="p-1 bg-300" style="width: 5%; text-align: right;">
					-
				</td>
			</tr>
			<tr>
				<td class="p-1 h6 text-start text-muted">
					&mdash;
				</td>
				<td class="p-1 bg-300" style="width: 5%; text-align: right;">
					-
				</td>
			</tr>
		</table>
	</div>
</div>
